$primary1:#ffffff;
$primary2:#000000;
$primary3:#F60225;
$primary4:#E6A74D;
$primary5:#453F40;
$primary6:#EDEDED;
$primary7:#73552A;
$primary8:#FAFAFA;
@mixin gradient1{
  background: rgb(69,63,64);
  background: -moz-linear-gradient(45deg, rgba(69,63,64,1) 0%, rgba(230,167,77,1) 100%);
  background: -webkit-linear-gradient(45deg, rgba(69,63,64,1) 0%,rgba(230,167,77,1) 100%);
  background: linear-gradient(45deg, rgba(69,63,64,1) 0%,rgba(230,167,77,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#453f40', endColorstr='#e6a74d',GradientType=1 );
}
@mixin gradient2{
  background: -moz-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(246,2,37,1) 100%);
  background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%,rgba(246,2,37,1) 100%);
  background: linear-gradient(to bottom, rgba(255,255,255,0) 0%,rgba(246,2,37,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#f60225',GradientType=0 );
}

@mixin gradient3{
  background: -moz-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(69,63,64,1) 100%);
  background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%,rgba(69,63,64,1) 100%);
  background: linear-gradient(to bottom, rgba(255,255,255,0) 0%,rgba(69,63,64,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#453f40',GradientType=0 );
}
@mixin gradient4{
  background: -moz-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(230,167,77,1) 100%);
  background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%,rgba(230,167,77,1) 100%);
  background: linear-gradient(to bottom, rgba(255,255,255,0) 0%,rgba(230,167,77,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#e6a74d',GradientType=0 );
}