<section class="about" id="about">
    <div class="about__inner">
        <div class="about__header">
            <h3>об академии</h3>
        </div>
        <div class="about__content">
            <div class="about__left">
                <div class="about__title">
                    <div class="yellow">Более 2000</div>
                    <div class="small">детей прошли обучение</div>
                    <div class="big">в нашей академии!</div>
                </div>
                <p>Академия &laquo;Pro Football&raquo; предоставляет возможность каждому ребенку почувствовать себя
                    футболистом любительского и&nbsp;профессионального уровней. Юный воспитанник получит как правильное
                    физиологическое развитие, так и&nbsp;морально&nbsp;&mdash; психологическое, овладевая всеми навыками
                    футболиста, игры в&nbsp;команде и&nbsp;индивидуального мастерства.</p>
                <p>Методика тренировок разрабатывается опытными тренерами на&nbsp;основе методик ведущих европейских
                    футбольных центров.</p>
                <p><b>Все тренеры и&nbsp;помощники тренеров обладают<br/>
                    лицензиями категорий &laquo;В&raquo;, &laquo;С&raquo; UEFA.</b></p>
                <br>
                <br>
                <div class="about__group">
                    <div class="about__item">
                        <div class="about__img"><img src="img/about-group-1.png" alt=""></div>
                        <div class="about__txt">Новый профессиональный инвентарь<br> и экипировка</div>
                    </div>
                    <div class="about__item">
                        <div class="about__img"><img src="img/about-group-2.png" alt=""></div>
                        <div class="about__txt">Современые спортивные залы и мини-футбольные поля</div>
                    </div>
                    <div class="about__item">
                        <div class="about__img"><img src="img/about-group-3.png" alt=""></div>
                        <div class="about__txt">Товарищеские матчи<br> с детскими футбольными<br> школами</div>
                    </div>
                    <div class="about__item">
                        <div class="about__img"><img src="img/about-group-4.png" alt=""></div>
                        <div class="about__txt">Социальная программа<br> и скидки для семей<br> с особым статусом</div>
                    </div>
                </div>

                <div class="about__video popap_box" data-body="video">ПОСМОТРИТЕ<br>НАШЕ ВИДЕО</div>
            </div>
        </div>
    </div>
    <div id="modalbox_video" class="modal">
        <div class="box-modal_close arcticmodal-close"></div>
        <div class="modal__inner">

        </div>
    </div>
</section>
