<div class="clubs">
    <div class="clubs__inner">
        <div class="clubs__header">
            <h3>МЫ СОТРУДНИЧАЕМ С ТОП КЛУБАМИ МИРА</h3>
        </div>
        <div class="clubs__content">
            <div class="clubs__title">Каждый год наши ребята могут ездить в международные<br> лагеря для улучшения своих навыков и просмотра клубов</div>
            <div class="clubs__group">
                <div class="clubs__item">

                </div>
            </div>
        </div>
    </div>
</div>