<div class="filial" id="filial">
    <div class="filial__inner">
        <div class="ionTabs__tabs" id="tabs_1" data-name="Tabs_Group_filial">
            <div class="">
                <ul class="filial__head">
                    <li class="filial__arrow">Филиалы</li>
                    <li class="ionTabs__tab" data-target="Tab_1_filial"><span>Дворец “Жастар”</span></li>
                    <li class="ionTabs__tab" data-target="Tab_2_filial"><span>“Тарлан”</span></li>
                    <li class="ionTabs__tab" data-target="Tab_3_filial"><span>Дворец “Жастар”</span></li>
                    <li class="ionTabs__tab" data-target="Tab_4_filial"><span>“Жастар”</span></li>
                    <li class="ionTabs__tab" data-target="Tab_5_filial"><span>“Qsi”</span></li>
                    <li class="ionTabs__tab" data-target="Tab_6_filial"><span>“Жастар”</span></li>
                    <li class="ionTabs__tab" data-target="Tab_7_filial"><span>“Qsi”</span></li>
                </ul>
                <div class="filial__banner"><img src="img/banner-a3.jpg" alt=""></div>
            </div>
            <div class="ionTabs__body">
                <div class="ionTabs__item" data-name="Tab_1_filial">
                    <div class="ionTabs" id="tabs_2" data-name="Tabs_Group_tur">
                    <ul class="ionTabs__head">
                        <li class="ionTabs__tab" data-target="Tab_1_tur"><span>Турнир 1</span></li>
                        <li class="ionTabs__tab" data-target="Tab_2_tur"><span>Турнир 2</span></li>
                        <li class="ionTabs__tab" data-target="Tab_3_tur"><span>Турнир 3</span></li>
                        <li class="ionTabs__tab" data-target="Tab_4_tur"><span>Турнир 4</span></li>
                        <li class="ionTabs__tab" data-target="Tab_5_tur"><span>Турнир 5</span></li>
                    </ul>
                    <div class="ionTabs__body">
                        <div class="ionTabs__item" data-name="Tab_1_tur">
                            1
                        </div>
                        <div class="ionTabs__item" data-name="Tab_2_tur">
                            2
                        </div>
                        <div class="ionTabs__item" data-name="Tab_3_tur">
                            3
                        </div>
                        <div class="ionTabs__item" data-name="Tab_4_tur">
                            4
                        </div>
                        <div class="ionTabs__item" data-name="Tab_5_tur">
                            5
                        </div>

                    </div>
                </div>
                </div>
                <div class="ionTabs__item" data-name="Tab_2_filial">2</div>
                <div class="ionTabs__item" data-name="Tab_3_filial">3</div>
                <div class="ionTabs__item" data-name="Tab_4_filial">4</div>
                <div class="ionTabs__item" data-name="Tab_5_filial">5</div>
                <div class="ionTabs__item" data-name="Tab_6_filial">6</div>
                <div class="ionTabs__item" data-name="Tab_7_filial">7</div>

                <div class="ionTabs__preloader"></div>
            </div>
        </div>
    </div>
</div>