<div class="filial" id="filial">
    <div class="filial__inner">
        <div class="ionTabs__tabs" id="tabs_1" data-name="Tabs_Group_filial">
            <div class="">
                <ul class="filial__aside">
                    <li class="filial__arrow">Филиалы</li>
                    <li class="ionTabs__tab" data-target="Tab_1_filial"><span>Дворец “Жастар”</span></li>
                    <li class="ionTabs__tab" data-target="Tab_2_filial"><span>“Тарлан”</span></li>
                    <li class="ionTabs__tab" data-target="Tab_3_filial"><span>Дворец “Жастар”</span></li>
                    <li class="ionTabs__tab" data-target="Tab_4_filial"><span>“Жастар”</span></li>
                    <li class="ionTabs__tab" data-target="Tab_5_filial"><span>“Qsi”</span></li>
                    <li class="ionTabs__tab" data-target="Tab_6_filial"><span>“Жастар”</span></li>
                    <li class="ionTabs__tab" data-target="Tab_7_filial"><span>“Qsi”</span></li>
                </ul>
                <div class="filial__banner"><img src="img/banner-a3.jpg" alt=""></div>
            </div>
            <div class="ionTabs__body">
                <div class="ionTabs__item" data-name="Tab_1_filial">
                    <div class="tournaments__header">
                        <h3>Дворец “Жастар”</h3>
                    </div>
                    <div class="ionTabs" id="tabs_2" data-name="Tabs_Group_name">
                        <ul class="ionTabs__head filial__head">
                            <li class="ionTabs__tab filial__tab" data-target="Tab_1_name"><span>гид</span></li>
                            <li class="ionTabs__tab filial__tab" data-target="Tab_2_name"><span>Контакты</span></li>
                            <li class="ionTabs__tab filial__tab" data-target="Tab_3_name"><span>Расписание</span></li>
                            <li class="ionTabs__tab filial__tab" data-target="Tab_4_name"><span>Тренеры</span></li>
                        </ul>
                        <div class="ionTabs__body filial__body">
                            <div class="ionTabs__item filial__item" data-name="Tab_1_name">
                                <div class="filial__slider">
                                <div class="slider js-slider">
                                    <div class="slider__item">
                                        <div class="slider__img">
                                            <img src="img/slider__img.jpg" alt="">
                                        </div>
                                        <div class="slider__txt">
                                            <div class="slider__name">Раздевалка</div>
                                            <p class="slider__anons">По своей сути рыбатекст является альтернативой традиционному lorem ipsum, который вызывает </p>
                                        </div>
                                    </div>
                                    <div class="slider__item">
                                        <div class="slider__img">
                                            <img src="img/slider__img.jpg" alt="">
                                        </div>
                                        <div class="slider__txt">
                                            <div class="slider__name">Раздевалка</div>
                                            <p class="slider__anons">По своей сути рыбатекст является альтернативой традиционному lorem ipsum, который вызывает </p>
                                        </div>
                                    </div>
                                </div>
                                </div>
                            </div>
                            <div class="ionTabs__item filial__item" data-name="Tab_2_name">
                                Контент вкладки 2
                            </div>
                            <div class="ionTabs__item filial__item" data-name="Tab_3_name">
                                Контент вкладки 3
                            </div>
                            <div class="ionTabs__item filial__item" data-name="Tab_4_name">
                                Контент вкладки 4
                            </div>

                            <div class="ionTabs__preloader"></div>
                        </div>
                    </div>
                </div>
                <div class="ionTabs__item" data-name="Tab_2_filial">
                    <div class="tournaments__header">
                        <h3>“Тарлан”</h3>
                    </div>
                    <div class="ionTabs" id="tabs_2" data-name="Tabs_Group_name">
                        <ul class="ionTabs__head filial__head">
                            <li class="ionTabs__tab filial__tab" data-target="Tab_1_name"><span>гид</span></li>
                            <li class="ionTabs__tab filial__tab" data-target="Tab_2_name"><span>Контакты</span></li>
                            <li class="ionTabs__tab filial__tab" data-target="Tab_3_name"><span>Расписание</span></li>
                            <li class="ionTabs__tab filial__tab" data-target="Tab_4_name"><span>Тренеры</span></li>
                        </ul>
                        <div class="ionTabs__body filial__body">
                            <div class="ionTabs__item filial__item" data-name="Tab_1_name">
                                Контент вкладки 1
                            </div>
                            <div class="ionTabs__item filial__item" data-name="Tab_2_name">
                                Контент вкладки 2
                            </div>
                            <div class="ionTabs__item filial__item" data-name="Tab_3_name">
                                Контент вкладки 3
                            </div>
                            <div class="ionTabs__item filial__item" data-name="Tab_4_name">
                                Контент вкладки 4
                            </div>

                            <div class="ionTabs__preloader"></div>
                        </div>
                    </div>
                </div>
                <div class="ionTabs__item" data-name="Tab_3_filial">
                    <div class="tournaments__header">
                        <h3>Дворец “Жастар”</h3>
                    </div>
                    <div class="ionTabs" id="tabs_2" data-name="Tabs_Group_name">
                        <ul class="ionTabs__head filial__head">
                            <li class="ionTabs__tab filial__tab" data-target="Tab_1_name"><span>гид</span></li>
                            <li class="ionTabs__tab filial__tab" data-target="Tab_2_name"><span>Контакты</span></li>
                            <li class="ionTabs__tab filial__tab" data-target="Tab_3_name"><span>Расписание</span></li>
                            <li class="ionTabs__tab filial__tab" data-target="Tab_4_name"><span>Тренеры</span></li>
                        </ul>
                        <div class="ionTabs__body filial__body">
                            <div class="ionTabs__item filial__item" data-name="Tab_1_name">
                                Контент вкладки 1
                            </div>
                            <div class="ionTabs__item filial__item" data-name="Tab_2_name">
                                Контент вкладки 2
                            </div>
                            <div class="ionTabs__item filial__item" data-name="Tab_3_name">
                                Контент вкладки 3
                            </div>
                            <div class="ionTabs__item filial__item" data-name="Tab_4_name">
                                Контент вкладки 4
                            </div>

                            <div class="ionTabs__preloader"></div>
                        </div>
                    </div>
                </div>
                <div class="ionTabs__item" data-name="Tab_4_filial">
                    <div class="tournaments__header">
                        <h3>“Жастар”</h3>
                    </div>
                    <div class="ionTabs" id="tabs_2" data-name="Tabs_Group_name">
                        <ul class="ionTabs__head filial__head">
                            <li class="ionTabs__tab filial__tab" data-target="Tab_1_name"><span>гид</span></li>
                            <li class="ionTabs__tab filial__tab" data-target="Tab_2_name"><span>Контакты</span></li>
                            <li class="ionTabs__tab filial__tab" data-target="Tab_3_name"><span>Расписание</span></li>
                            <li class="ionTabs__tab filial__tab" data-target="Tab_4_name"><span>Тренеры</span></li>
                        </ul>
                        <div class="ionTabs__body filial__body">
                            <div class="ionTabs__item filial__item" data-name="Tab_1_name">
                                Контент вкладки 1
                            </div>
                            <div class="ionTabs__item filial__item" data-name="Tab_2_name">
                                Контент вкладки 2
                            </div>
                            <div class="ionTabs__item filial__item" data-name="Tab_3_name">
                                Контент вкладки 3
                            </div>
                            <div class="ionTabs__item filial__item" data-name="Tab_4_name">
                                Контент вкладки 4
                            </div>

                            <div class="ionTabs__preloader"></div>
                        </div>
                    </div>
                </div>
                <div class="ionTabs__item" data-name="Tab_5_filial">
                    <div class="tournaments__header">
                        <h3>“Qsi”</h3>
                    </div>
                    <div class="ionTabs" id="tabs_2" data-name="Tabs_Group_name">
                        <ul class="ionTabs__head filial__head">
                            <li class="ionTabs__tab filial__tab" data-target="Tab_1_name"><span>гид</span></li>
                            <li class="ionTabs__tab filial__tab" data-target="Tab_2_name"><span>Контакты</span></li>
                            <li class="ionTabs__tab filial__tab" data-target="Tab_3_name"><span>Расписание</span></li>
                            <li class="ionTabs__tab filial__tab" data-target="Tab_4_name"><span>Тренеры</span></li>
                        </ul>
                        <div class="ionTabs__body filial__body">
                            <div class="ionTabs__item filial__item" data-name="Tab_1_name">
                                Контент вкладки 1
                            </div>
                            <div class="ionTabs__item filial__item" data-name="Tab_2_name">
                                Контент вкладки 2
                            </div>
                            <div class="ionTabs__item filial__item" data-name="Tab_3_name">
                                Контент вкладки 3
                            </div>
                            <div class="ionTabs__item filial__item" data-name="Tab_4_name">
                                Контент вкладки 4
                            </div>

                            <div class="ionTabs__preloader"></div>
                        </div>
                    </div>
                </div>
                <div class="ionTabs__item" data-name="Tab_6_filial">
                    <div class="tournaments__header">
                        <h3>турнир6</h3>
                    </div>
                    <div class="ionTabs" id="tabs_2" data-name="Tabs_Group_name">
                        <ul class="ionTabs__head filial__head">
                            <li class="ionTabs__tab filial__tab" data-target="Tab_1_name"><span>гид</span></li>
                            <li class="ionTabs__tab filial__tab" data-target="Tab_2_name"><span>Контакты</span></li>
                            <li class="ionTabs__tab filial__tab" data-target="Tab_3_name"><span>Расписание</span></li>
                            <li class="ionTabs__tab filial__tab" data-target="Tab_4_name"><span>Тренеры</span></li>
                        </ul>
                        <div class="ionTabs__body filial__body">
                            <div class="ionTabs__item filial__item" data-name="Tab_1_name">
                                Контент вкладки 1
                            </div>
                            <div class="ionTabs__item filial__item" data-name="Tab_2_name">
                                Контент вкладки 2
                            </div>
                            <div class="ionTabs__item filial__item" data-name="Tab_3_name">
                                Контент вкладки 3
                            </div>
                            <div class="ionTabs__item filial__item" data-name="Tab_4_name">
                                Контент вкладки 4
                            </div>

                            <div class="ionTabs__preloader"></div>
                        </div>
                    </div>
                </div>
                <div class="ionTabs__item" data-name="Tab_7_filial">
                    <div class="tournaments__header">
                        <h3>турнир7</h3>
                    </div>
                    <div class="ionTabs" id="tabs_2" data-name="Tabs_Group_name">
                        <ul class="ionTabs__head filial__head">
                            <li class="ionTabs__tab filial__tab" data-target="Tab_1_name"><span>гид</span></li>
                            <li class="ionTabs__tab filial__tab" data-target="Tab_2_name"><span>Контакты</span></li>
                            <li class="ionTabs__tab filial__tab" data-target="Tab_3_name"><span>Расписание</span></li>
                            <li class="ionTabs__tab filial__tab" data-target="Tab_4_name"><span>Тренеры</span></li>
                        </ul>
                        <div class="ionTabs__body filial__body">
                            <div class="ionTabs__item filial__item" data-name="Tab_1_name">
                                Контент вкладки 1
                            </div>
                            <div class="ionTabs__item filial__item" data-name="Tab_2_name">
                                Контент вкладки 2
                            </div>
                            <div class="ionTabs__item filial__item" data-name="Tab_3_name">
                                Контент вкладки 3
                            </div>
                            <div class="ionTabs__item filial__item" data-name="Tab_4_name">
                                Контент вкладки 4
                            </div>

                            <div class="ionTabs__preloader"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>