<footer class="footer">
    <div class="footer__inner">
        <div class="footer__logo"><img src="img/logo-profootball.png" alt=""></div>
        <div class="footer__txt">
            <p><i class="quotes"></i>ДЛЯ ДЕТЕЙ ОТ 3 ДО 16 ЛЕТ</p>
            <p><i class="quotes"></i>Более 2000 детей выпускников</p>
        </div>
        <a href="tel:+77018161990" class="footer__tel"><i class="quotes"></i>+7 (701) 816 19 90</a>
        <button class="footer__btn popap_box" data-body="reg">ЗАПИСАТЬСЯ</button>
    </div>
    <div class="footer__after"></div>
</footer>