<div class="footer">
    <div class="container">
        <div class="row">
            <div class="footer__inner">
                <div class="footer__item col-lg-3 col-md-3 col-sm-6 col-xs-12 ">
                    <a href="#" class="footer__logo"><img src="img/logo-damutek.svg" alt=""></a>
                    <p>Информационно-образовательный портал</p>
                    <p>2018 Дамутек. Все права защищены</p>
                </div>
                <div class="footer__item col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <div class="footer__header">КОМПАНИЯ</div>
                    <a href="#">О нас</a>
                    <a href="#">Damutek для бизнеса</a>
                    <a href="#">Стань преподавателем</a>
                    <a href="#">Вакансии</a>
                    <a href="#">Сертификаты</a>
                </div>
                <div class="footer__item col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <div class="footer__header">БУДЬ С НАМИ</div>
                    <a href="#">События</a>
                    <a href="#">Новости</a>
                    <a href="#">Форум</a>
                    <a href="#">Блог</a>
                    <a href="#">Приложения</a>
                </div>
                <div class="footer__item col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <div class="footer__header">ЕЩЕ</div>
                    <a href="#">Поддержка</a>
                    <a href="#">Наши партнеры</a>
                    <a href="#">Условия использования</a>
                    <a href="#">Конфиденциальность</a>
                    <a href="#">Интелектуальная собственность</a>
                    <div class="footer__social">
                        <span>Мы в социальных сетях:</span> <a href="#"><img src="img/footer__insta.svg" width="22" alt=""></a> <a
                            href="#"><img src="img/footer__vk.svg" width="33" alt=""></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>