<footer class="footer">
    <div class="footer__inner">
        <div class="footer__item">
            <div class="footer__logo"><img src="img/logo-profootball.png" alt=""></div>
            <div class="footer__city">
                <select name="" id="">
                    <option value="Караганда">Караганда</option>
                    <option value="Алматы">Алматы</option>
                    <option value="Астана">Астана</option>
                    <option value="Тараз">Тараз</option>
                    <option value="Шымкент">Шымкент</option>
                    <option value="Костанай">Костанай</option>
                </select>
            </div>
        </div>
        <div class="footer__item">
            <a href="tel:+77018161990" class="footer__tel">+7 (701) 816 19 90</a>

            <button class="footer__btn popap_box" data-body="reg">ЗАПИСАТЬСЯ</button>
        </div>
    </div>
    <div class="footer__bottom">
        <nav class="footer__nav" id="menu">
            <a href="#about">об академии</a>
            <a href="#subscription">абонементы</a>
            <a href="#clubs">сотрудничество</a>
            <a href="#filial">филиалы</a>
            <a href="#tournaments">турниры</a>
        </nav>
        <div class="footer__social">
            <div class="social">
                <a href="#" class="social__item fb"></a>
                <a href="#" class="social__item tw"></a>
                <a href="#" class="social__item inst"></a>
            </div>
        </div>
        <a href="#" class="top-panel__account">Личный кабинет</a>
    </div>
</footer>