<header class="header">
    <div class="header__inner">
        <h1>ФУТБОЛЬНАЯ АКАДЕМИЯ<br>
            PRO FOOTBALL В караганде
        </h1>
        <h2>ДЛЯ ДЕТЕЙ ОТ 3 ДО 16 ЛЕТ</h2>
        <div class="header__group">
            <div class="group">
                <div class="group__item g1 popap_box" data-body="reg"></div>
                <div class="group__item g2 popap_box" data-body="reg"></div>
                <div class="group__item g3 popap_box" data-body="reg"></div>
                <div class="group__item g4 popap_box" data-body="reg"></div>
                <div class="group__item g5 popap_box" data-body="reg"></div>
            </div>
        </div>
    </div>
</header>