<div class="header">
    <div class="container">
        <div class="row">
            <div class="header__inner">
                <a href="#" class="header__logo"><img src="img/logo-damutek.svg" alt=""></a>
                <div class="header__category">Категории</div>
                <div class="header__search">
                    <input type="text" class="header__input">
                    <input type="submit" class="header__submit">
                </div>
                <div class="header__registr">
                    <a href="#" class="header__auth popap_box" data-body="auth">Войти</a>
                    <a href="#" class="header__reg popap_box" data-body="reg">Зарегистрироваться</a>
                    <a href="#" class="header__basket"></a>
                </div>
                <div class="hidden">
                    <div id="modalbox_auth" class="modal-auth">
                        <div class="box-modal_close arcticmodal-close"></div>
                        <div class="modal-auth__logo"><img src="img/modal__logo.png" alt=""></div>
                        <div class="modal-auth__header">ЗАРЕГИСТРИРОВАТЬСЯ КАК ПРЕПОДАВАТЕЛЬ</div>

                        <div class="modal-auth__anons">
                            Здравствуйте! Для того, чтобы стать преподавателем на нашем ресурсе, делиться своими
                            знаниями и иметь дополнительный источник дохода, Вам необходимо пройти несколько процедур:
                        </div>
                        <div class="modal-auth__inner">
                            <div class="modal-auth__item">
                                <div class="modal-auth__num">1</div>
                                <p>Ознакомиться с договором<br>
                                    о сотрудничестве</p>
                            </div>
                            <div class="modal-auth__item">
                                <div class="modal-auth__num">2</div>
                                <p>Пройти процедуру регистрации<br>
                                    аккаунта преподавателя</p>
                            </div>
                            <div class="modal-auth__item">
                                <div class="modal-auth__num">3</div>
                                <p>Записать 3-х минутное видео<br>
                                    о курсе, который вы будете<br>
                                    преподавать и отправить нам.</p>
                            </div>
                            <a href="#" class="modal-auth__btn">Продолжить</a>
                            <a href="#" class="modal-auth__btn modal-auth__btn--gray">Отмена</a>
                        </div>
                    </div>

                    <div id="modalbox_reg" class="modal-reg">
                        <div class="box-modal_close arcticmodal-close"></div>
                        <div class="modal-reg__logo"><img src="img/modal__logo.png" alt=""></div>

                        <div class="modal-reg__tabs">
                            <input class="modal-reg__input" id="tab1" type="radio" name="tabs" checked>
                            <label class="modal-reg__label" for="tab1" title="Вкладка 1">ВОЙТИ</label>

                            <input class="modal-reg__input" id="tab2" type="radio" name="tabs">
                            <label class="modal-reg__label" for="tab2" title="Вкладка 2">ЗАРЕГИСТРИРОВАТЬСЯ</label>

                            <section class="modal-reg__content" id="content1">
                                <form class="form-reg" action="">
                                    <div class="form-reg__item">
                                        <label class="form-reg__label" for="login">Адрес электронной почты</label>
                                        <input id="login" type="text" class="form-reg__input"
                                               placeholder="Andrei@mail.com">
                                    </div>
                                    <div class="form-reg__item">
                                        <label class="form-reg__label" for="pass">Пароль</label>
                                        <input id="pass" type="text" class="form-reg__input"
                                               placeholder="***************">
                                    </div>
                                    <div class="form-reg__item">
                                        <a href="#" class="form-reg__forgot">Забыли пароль?</a>
                                    </div>
                                    <div class="form-reg__item">
                                        <a href="#" class="modal-reg__btn">Войти</a>
                                    </div>
                                    <div class="form-reg__social">
                                        <p>Войти через социальные сети: </p>
                                        <a href="#"><img src="img/form-reg__vk.png" alt=""></a>
                                        <a href="#"><img src="img/form-reg__fb.png" alt=""></a>
                                        <a href="#"><img src="img/form-reg__gm.png" alt=""></a>
                                    </div>
                                </form>
                            </section>
                            <section class="modal-reg__content" id="content2">
                                2
                            </section>
                        </div>
                        <div class="modal-reg__problem">
                            <a href="#">У Вас возникли проблемы со входом?</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>