<div class="nav">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-sm-4">
                <p class="nav__item i250">250 онлайн курсов<br>
                на казахском языке</p>
            </div>
            <div class="col-lg-4 col-sm-4">
                <p class="nav__item best">Лучшие преподаватели<br>
                    казахстанских вузов</p>
            </div>
            <div class="col-lg-4 col-sm-4">
                <p class="nav__item easy">Удобное дистанционное<br>
                    обучение
                </p>
            </div>
        </div>
    </div>
</div>