<div class="top-panel">
    <div class="top-panel__banner">
        <img src="img/banner-a1.jpg" alt="">
    </div>
    <div class="top-panel__inner">
        <div class="top-panel__city">
            <select name="" id="">
                <option value="Караганда">Караганда</option>
                <option value="Алматы">Алматы</option>
                <option value="Астана">Астана</option>
                <option value="Тараз">Тараз</option>
                <option value="Шымкент">Шымкент</option>
                <option value="Костанай">Костанай</option>
            </select>
        </div>
        <div class="top-panel__right">
            <nav class="top-panel__nav">
                <a href="#">об академии</a>
                <a href="#">абонементы</a>
                <a href="#">сотрудничество</a>
                <a href="#">филиалы</a>
                <a href="#">турниры</a>
            </nav>
            <div class="top-panel__social">
                <div class="social">
                    <a href="#" class="social__item fb"></a>
                    <a href="#" class="social__item tw"></a>
                    <a href="#" class="social__item inst"></a>
                </div>
            </div>
            <a href="#" class="top-panel__account">Личный кабинет</a>
        </div>
    </div>
    <a href="#" class="top-panel__logo">
        <img src="img/logo-profootball.png" alt="">
    </a>
</div>