<div class="tournaments">
    <div class="tournaments__inner">
        <div class="tournaments__header">
            <h3>турнир</h3>
        </div>

        <div class="ionTabs" id="tabs_1" data-name="Tabs_Group_name">
            <ul class="ionTabs__head">
                <li class="ionTabs__tab" data-target="Tab_1_name"><span>Турнир 1</span></li>
                <li class="ionTabs__tab" data-target="Tab_2_name"><span>Турнир 2</span></li>
                <li class="ionTabs__tab" data-target="Tab_3_name"><span>Турнир 3</span></li>
                <li class="ionTabs__tab" data-target="Tab_4_name"><span>Турнир 4</span></li>
                <li class="ionTabs__tab" data-target="Tab_5_name"><span>Турнир 5</span></li>
            </ul>
            <div class="ionTabs__body">
                <div class="ionTabs__item" data-name="Tab_1_name">
                    <div class="cards">
                        <div class="cards__inner">
                            <div class="cards__item">
                                <div class="cards__header">Результаты</div>
                                <div class="cards__info">

                                    <div class="cards__data">05.05.2018 12:00</div>
                                    <div class="cards__commands">
                                        <div class="cards__name">“Тарлан”</div>
                                        <div class="cards__count">3:1</div>
                                        <div class="cards__name">“Жастар”</div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="ionTabs__item" data-name="Tab_2_name">
                    Контент вкладки 2
                </div>
                <div class="ionTabs__item" data-name="Tab_3_name">
                    Контент вкладки 3
                </div>
                <div class="ionTabs__item" data-name="Tab_4_name">
                    Контент вкладки 4
                </div>
                <div class="ionTabs__item" data-name="Tab_5_name">
                    Контент вкладки 5
                </div>

                <div class="ionTabs__preloader"></div>
            </div>
        </div>
    </div>
</div>