<div class="tournaments" id="tournaments">
    <div class="tournaments__inner">
        <div class="tournaments__header">
            <h3>турнир</h3>
        </div>

        <div class="ionTabs" id="tabs_3" data-name="Tabs_Group_tournaments">
            <ul class="ionTabs__head">
                <li class="ionTabs__tab" data-target="Tab_1_tournaments"><span>Турнир 1</span></li>
                <li class="ionTabs__tab" data-target="Tab_2_tournaments"><span>Турнир 2</span></li>
                <li class="ionTabs__tab" data-target="Tab_3_tournaments"><span>Турнир 3</span></li>
                <li class="ionTabs__tab" data-target="Tab_4_tournaments"><span>Турнир 4</span></li>
                <li class="ionTabs__tab" data-target="Tab_5_tournaments"><span>Турнир 5</span></li>
            </ul>
            <div class="ionTabs__body">
                <div class="ionTabs__item" data-name="Tab_1_tournaments">
                    <div class="cards">
                        <div class="cards__inner">
                            <div class="cards__item">
                                <div class="cards__header">Результаты</div>
                                <div class="cards__info">
                                    <div class="cards__data">05.05.2018 12:00</div>
                                    <div class="cards__commands">
                                        <div class="cards__name">“Тарлан”</div>
                                        <div class="cards__count">3 : 1</div>
                                        <div class="cards__name">“Жастар”</div>
                                    </div>
                                </div>
                                <div class="cards__gol">
                                    <div class="cards__data"></div>
                                    <ol class="cards__list right">
                                        <li> <i class="cards__ball"></i><i class="cards__ball"></i>Ненад Эрич</li>
                                        <li><i class="cards__ball"></i>Александр Мокин</li>
                                    </ol>
                                    <div class="cards__count"></div>
                                    <ol class="cards__list">
                                        <li>Ненад Эрич <i class="cards__ball"></i></li>
                                    </ol>
                                </div>
                                <div class="cards__peaple">
                                    <div class="cards__data"></div>
                                    <ol class="cards__list right">
                                        <li>Ненад Эрич</li>
                                        <li>Александр Мокин</li>
                                        <li>Станислав Павлов</li>
                                        <li>Игорь Шитов</li>
                                        <li>Марин Аничич</li>
                                        <li>Абзал Бейсебеков</li>
                                        <li>Сергей Малый</li>
                                        <li>Юрий Логвиненко</li>
                                        <li>Евгений Постников</li>
                                        <li>Дмитрий Шомко</li>
                                        <li>Ласло Кляйнхайслер</li>
                                        <li>Серикжан Мужиков</li>
                                    </ol>
                                    <div class="cards__count"></div>
                                    <ol class="cards__list">
                                        <li>Ненад Эрич</li>
                                        <li>Александр Мокин</li>
                                        <li>Станислав Павлов</li>
                                        <li>Игорь Шитов</li>
                                        <li>Марин Аничич</li>
                                        <li>Абзал Бейсебеков</li>
                                        <li>Сергей Малый</li>
                                        <li>Юрий Логвиненко</li>
                                        <li>Евгений Постников</li>
                                        <li>Дмитрий Шомко</li>
                                        <li>Ласло Кляйнхайслер</li>
                                        <li>Серикжан Мужиков</li>
                                    </ol>
                                </div>

                            </div>
                            <div class="cards__item">
                                <div class="cards__info">
                                    <div class="cards__data">05.05.2018 12:00</div>
                                    <div class="cards__commands">
                                        <div class="cards__name">“Тарлан”</div>
                                        <div class="cards__count">3 : 1</div>
                                        <div class="cards__name">“Жастар”</div>
                                    </div>
                                </div>
                                <div class="cards__gol">
                                    <div class="cards__data"></div>
                                    <ol class="cards__list right">
                                        <li> <i class="cards__ball"></i><i class="cards__ball"></i>Ненад Эрич</li>
                                        <li><i class="cards__ball"></i>Александр Мокин</li>
                                    </ol>
                                    <div class="cards__count"></div>
                                    <ol class="cards__list">
                                        <li>Ненад Эрич <i class="cards__ball"></i></li>
                                    </ol>
                                </div>
                                <div class="cards__peaple">
                                    <div class="cards__data"></div>
                                    <ol class="cards__list right">
                                        <li>Ненад Эрич</li>
                                        <li>Александр Мокин</li>
                                        <li>Станислав Павлов</li>
                                        <li>Игорь Шитов</li>
                                        <li>Марин Аничич</li>
                                        <li>Абзал Бейсебеков</li>
                                        <li>Сергей Малый</li>
                                        <li>Юрий Логвиненко</li>
                                        <li>Евгений Постников</li>
                                        <li>Дмитрий Шомко</li>
                                        <li>Ласло Кляйнхайслер</li>
                                        <li>Серикжан Мужиков</li>
                                    </ol>
                                    <div class="cards__count"></div>
                                    <ol class="cards__list">
                                        <li>Ненад Эрич</li>
                                        <li>Александр Мокин</li>
                                        <li>Станислав Павлов</li>
                                        <li>Игорь Шитов</li>
                                        <li>Марин Аничич</li>
                                        <li>Абзал Бейсебеков</li>
                                        <li>Сергей Малый</li>
                                        <li>Юрий Логвиненко</li>
                                        <li>Евгений Постников</li>
                                        <li>Дмитрий Шомко</li>
                                        <li>Ласло Кляйнхайслер</li>
                                        <li>Серикжан Мужиков</li>
                                    </ol>
                                </div>

                            </div>
                            <div class="cards__item">
                                <div class="cards__info">
                                    <div class="cards__data">05.05.2018 12:00</div>
                                    <div class="cards__commands">
                                        <div class="cards__name">“Тарлан”</div>
                                        <div class="cards__count">3 : 1</div>
                                        <div class="cards__name">“Жастар”</div>
                                    </div>
                                </div>
                                <div class="cards__gol">
                                    <div class="cards__data"></div>
                                    <ol class="cards__list right">
                                        <li> <i class="cards__ball"></i><i class="cards__ball"></i>Ненад Эрич</li>
                                        <li><i class="cards__ball"></i>Александр Мокин</li>
                                    </ol>
                                    <div class="cards__count"></div>
                                    <ol class="cards__list">
                                        <li>Ненад Эрич <i class="cards__ball"></i></li>
                                    </ol>
                                </div>
                                <div class="cards__peaple">
                                    <div class="cards__data"></div>
                                    <ol class="cards__list right">
                                        <li>Ненад Эрич</li>
                                        <li>Александр Мокин</li>
                                        <li>Станислав Павлов</li>
                                        <li>Игорь Шитов</li>
                                        <li>Марин Аничич</li>
                                        <li>Абзал Бейсебеков</li>
                                        <li>Сергей Малый</li>
                                        <li>Юрий Логвиненко</li>
                                        <li>Евгений Постников</li>
                                        <li>Дмитрий Шомко</li>
                                        <li>Ласло Кляйнхайслер</li>
                                        <li>Серикжан Мужиков</li>
                                    </ol>
                                    <div class="cards__count"></div>
                                    <ol class="cards__list">
                                        <li>Ненад Эрич</li>
                                        <li>Александр Мокин</li>
                                        <li>Станислав Павлов</li>
                                        <li>Игорь Шитов</li>
                                        <li>Марин Аничич</li>
                                        <li>Абзал Бейсебеков</li>
                                        <li>Сергей Малый</li>
                                        <li>Юрий Логвиненко</li>
                                        <li>Евгений Постников</li>
                                        <li>Дмитрий Шомко</li>
                                        <li>Ласло Кляйнхайслер</li>
                                        <li>Серикжан Мужиков</li>
                                    </ol>
                                </div>

                            </div>
                            <div class="cards__item">
                                <div class="cards__header">Результаты</div>
                                <div class="cards__shedule">
                                    <p>05.05.2018  10:00<br>
                                    <b>“Тарлан” - “Жастар”</b></p>

                                    <p>05.05.2018  10:00<br>
                                        <b>“Тарлан” - “Жастар”</b></p>

                                    <p>05.05.2018  10:00<br>
                                        <b>“Тарлан” - “Жастар”</b></p>

                                    <p>05.05.2018  10:00<br>
                                        <b>“Тарлан” - “Жастар”</b></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="ionTabs__item" data-name="Tab_2_tournaments">
                    <div class="cards">
                        <div class="cards__inner">
                            <div class="cards__item">
                                <div class="cards__header">Результаты</div>
                                <div class="cards__info">
                                    <div class="cards__data">05.05.2018 12:00</div>
                                    <div class="cards__commands">
                                        <div class="cards__name">“Тарлан”</div>
                                        <div class="cards__count">3 : 1</div>
                                        <div class="cards__name">“Жастар”</div>
                                    </div>
                                </div>
                                <div class="cards__gol">
                                    <div class="cards__data"></div>
                                    <ol class="cards__list right">
                                        <li> <i class="cards__ball"></i><i class="cards__ball"></i>Ненад Эрич</li>
                                        <li><i class="cards__ball"></i>Александр Мокин</li>
                                    </ol>
                                    <div class="cards__count"></div>
                                    <ol class="cards__list">
                                        <li>Ненад Эрич <i class="cards__ball"></i></li>
                                    </ol>
                                </div>
                                <div class="cards__peaple">
                                    <div class="cards__data"></div>
                                    <ol class="cards__list right">
                                        <li>Ненад Эрич</li>
                                        <li>Александр Мокин</li>
                                        <li>Станислав Павлов</li>
                                        <li>Игорь Шитов</li>
                                        <li>Марин Аничич</li>
                                        <li>Абзал Бейсебеков</li>
                                        <li>Сергей Малый</li>
                                        <li>Юрий Логвиненко</li>
                                        <li>Евгений Постников</li>
                                        <li>Дмитрий Шомко</li>
                                        <li>Ласло Кляйнхайслер</li>
                                        <li>Серикжан Мужиков</li>
                                    </ol>
                                    <div class="cards__count"></div>
                                    <ol class="cards__list">
                                        <li>Ненад Эрич</li>
                                        <li>Александр Мокин</li>
                                        <li>Станислав Павлов</li>
                                        <li>Игорь Шитов</li>
                                        <li>Марин Аничич</li>
                                        <li>Абзал Бейсебеков</li>
                                        <li>Сергей Малый</li>
                                        <li>Юрий Логвиненко</li>
                                        <li>Евгений Постников</li>
                                        <li>Дмитрий Шомко</li>
                                        <li>Ласло Кляйнхайслер</li>
                                        <li>Серикжан Мужиков</li>
                                    </ol>
                                </div>

                            </div>
                            <div class="cards__item">
                                <div class="cards__info">
                                    <div class="cards__data">05.05.2018 12:00</div>
                                    <div class="cards__commands">
                                        <div class="cards__name">“Тарлан”</div>
                                        <div class="cards__count">3 : 1</div>
                                        <div class="cards__name">“Жастар”</div>
                                    </div>
                                </div>
                                <div class="cards__gol">
                                    <div class="cards__data"></div>
                                    <ol class="cards__list right">
                                        <li> <i class="cards__ball"></i><i class="cards__ball"></i>Ненад Эрич</li>
                                        <li><i class="cards__ball"></i>Александр Мокин</li>
                                    </ol>
                                    <div class="cards__count"></div>
                                    <ol class="cards__list">
                                        <li>Ненад Эрич <i class="cards__ball"></i></li>
                                    </ol>
                                </div>
                                <div class="cards__peaple">
                                    <div class="cards__data"></div>
                                    <ol class="cards__list right">
                                        <li>Ненад Эрич</li>
                                        <li>Александр Мокин</li>
                                        <li>Станислав Павлов</li>
                                        <li>Игорь Шитов</li>
                                        <li>Марин Аничич</li>
                                        <li>Абзал Бейсебеков</li>
                                        <li>Сергей Малый</li>
                                        <li>Юрий Логвиненко</li>
                                        <li>Евгений Постников</li>
                                        <li>Дмитрий Шомко</li>
                                        <li>Ласло Кляйнхайслер</li>
                                        <li>Серикжан Мужиков</li>
                                    </ol>
                                    <div class="cards__count"></div>
                                    <ol class="cards__list">
                                        <li>Ненад Эрич</li>
                                        <li>Александр Мокин</li>
                                        <li>Станислав Павлов</li>
                                        <li>Игорь Шитов</li>
                                        <li>Марин Аничич</li>
                                        <li>Абзал Бейсебеков</li>
                                        <li>Сергей Малый</li>
                                        <li>Юрий Логвиненко</li>
                                        <li>Евгений Постников</li>
                                        <li>Дмитрий Шомко</li>
                                        <li>Ласло Кляйнхайслер</li>
                                        <li>Серикжан Мужиков</li>
                                    </ol>
                                </div>

                            </div>
                            <div class="cards__item">
                                <div class="cards__info">
                                    <div class="cards__data">05.05.2018 12:00</div>
                                    <div class="cards__commands">
                                        <div class="cards__name">“Тарлан”</div>
                                        <div class="cards__count">3 : 1</div>
                                        <div class="cards__name">“Жастар”</div>
                                    </div>
                                </div>
                                <div class="cards__gol">
                                    <div class="cards__data"></div>
                                    <ol class="cards__list right">
                                        <li> <i class="cards__ball"></i><i class="cards__ball"></i>Ненад Эрич</li>
                                        <li><i class="cards__ball"></i>Александр Мокин</li>
                                    </ol>
                                    <div class="cards__count"></div>
                                    <ol class="cards__list">
                                        <li>Ненад Эрич <i class="cards__ball"></i></li>
                                    </ol>
                                </div>
                                <div class="cards__peaple">
                                    <div class="cards__data"></div>
                                    <ol class="cards__list right">
                                        <li>Ненад Эрич</li>
                                        <li>Александр Мокин</li>
                                        <li>Станислав Павлов</li>
                                        <li>Игорь Шитов</li>
                                        <li>Марин Аничич</li>
                                        <li>Абзал Бейсебеков</li>
                                        <li>Сергей Малый</li>
                                        <li>Юрий Логвиненко</li>
                                        <li>Евгений Постников</li>
                                        <li>Дмитрий Шомко</li>
                                        <li>Ласло Кляйнхайслер</li>
                                        <li>Серикжан Мужиков</li>
                                    </ol>
                                    <div class="cards__count"></div>
                                    <ol class="cards__list">
                                        <li>Ненад Эрич</li>
                                        <li>Александр Мокин</li>
                                        <li>Станислав Павлов</li>
                                        <li>Игорь Шитов</li>
                                        <li>Марин Аничич</li>
                                        <li>Абзал Бейсебеков</li>
                                        <li>Сергей Малый</li>
                                        <li>Юрий Логвиненко</li>
                                        <li>Евгений Постников</li>
                                        <li>Дмитрий Шомко</li>
                                        <li>Ласло Кляйнхайслер</li>
                                        <li>Серикжан Мужиков</li>
                                    </ol>
                                </div>

                            </div>
                            <div class="cards__item">
                                <div class="cards__header">Результаты</div>
                                <div class="cards__shedule">
                                    <p>05.05.2018  10:00<br>
                                    <b>“Тарлан” - “Жастар”</b></p>

                                    <p>05.05.2018  10:00<br>
                                        <b>“Тарлан” - “Жастар”</b></p>

                                    <p>05.05.2018  10:00<br>
                                        <b>“Тарлан” - “Жастар”</b></p>

                                    <p>05.05.2018  10:00<br>
                                        <b>“Тарлан” - “Жастар”</b></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="ionTabs__item" data-name="Tab_3_tournaments">
                    <div class="cards">
                        <div class="cards__inner">
                            <div class="cards__item">
                                <div class="cards__header">Результаты</div>
                                <div class="cards__info">
                                    <div class="cards__data">05.05.2018 12:00</div>
                                    <div class="cards__commands">
                                        <div class="cards__name">“Тарлан”</div>
                                        <div class="cards__count">3 : 1</div>
                                        <div class="cards__name">“Жастар”</div>
                                    </div>
                                </div>
                                <div class="cards__gol">
                                    <div class="cards__data"></div>
                                    <ol class="cards__list right">
                                        <li> <i class="cards__ball"></i><i class="cards__ball"></i>Ненад Эрич</li>
                                        <li><i class="cards__ball"></i>Александр Мокин</li>
                                    </ol>
                                    <div class="cards__count"></div>
                                    <ol class="cards__list">
                                        <li>Ненад Эрич <i class="cards__ball"></i></li>
                                    </ol>
                                </div>
                                <div class="cards__peaple">
                                    <div class="cards__data"></div>
                                    <ol class="cards__list right">
                                        <li>Ненад Эрич</li>
                                        <li>Александр Мокин</li>
                                        <li>Станислав Павлов</li>
                                        <li>Игорь Шитов</li>
                                        <li>Марин Аничич</li>
                                        <li>Абзал Бейсебеков</li>
                                        <li>Сергей Малый</li>
                                        <li>Юрий Логвиненко</li>
                                        <li>Евгений Постников</li>
                                        <li>Дмитрий Шомко</li>
                                        <li>Ласло Кляйнхайслер</li>
                                        <li>Серикжан Мужиков</li>
                                    </ol>
                                    <div class="cards__count"></div>
                                    <ol class="cards__list">
                                        <li>Ненад Эрич</li>
                                        <li>Александр Мокин</li>
                                        <li>Станислав Павлов</li>
                                        <li>Игорь Шитов</li>
                                        <li>Марин Аничич</li>
                                        <li>Абзал Бейсебеков</li>
                                        <li>Сергей Малый</li>
                                        <li>Юрий Логвиненко</li>
                                        <li>Евгений Постников</li>
                                        <li>Дмитрий Шомко</li>
                                        <li>Ласло Кляйнхайслер</li>
                                        <li>Серикжан Мужиков</li>
                                    </ol>
                                </div>

                            </div>
                            <div class="cards__item">
                                <div class="cards__info">
                                    <div class="cards__data">05.05.2018 12:00</div>
                                    <div class="cards__commands">
                                        <div class="cards__name">“Тарлан”</div>
                                        <div class="cards__count">3 : 1</div>
                                        <div class="cards__name">“Жастар”</div>
                                    </div>
                                </div>
                                <div class="cards__gol">
                                    <div class="cards__data"></div>
                                    <ol class="cards__list right">
                                        <li> <i class="cards__ball"></i><i class="cards__ball"></i>Ненад Эрич</li>
                                        <li><i class="cards__ball"></i>Александр Мокин</li>
                                    </ol>
                                    <div class="cards__count"></div>
                                    <ol class="cards__list">
                                        <li>Ненад Эрич <i class="cards__ball"></i></li>
                                    </ol>
                                </div>
                                <div class="cards__peaple">
                                    <div class="cards__data"></div>
                                    <ol class="cards__list right">
                                        <li>Ненад Эрич</li>
                                        <li>Александр Мокин</li>
                                        <li>Станислав Павлов</li>
                                        <li>Игорь Шитов</li>
                                        <li>Марин Аничич</li>
                                        <li>Абзал Бейсебеков</li>
                                        <li>Сергей Малый</li>
                                        <li>Юрий Логвиненко</li>
                                        <li>Евгений Постников</li>
                                        <li>Дмитрий Шомко</li>
                                        <li>Ласло Кляйнхайслер</li>
                                        <li>Серикжан Мужиков</li>
                                    </ol>
                                    <div class="cards__count"></div>
                                    <ol class="cards__list">
                                        <li>Ненад Эрич</li>
                                        <li>Александр Мокин</li>
                                        <li>Станислав Павлов</li>
                                        <li>Игорь Шитов</li>
                                        <li>Марин Аничич</li>
                                        <li>Абзал Бейсебеков</li>
                                        <li>Сергей Малый</li>
                                        <li>Юрий Логвиненко</li>
                                        <li>Евгений Постников</li>
                                        <li>Дмитрий Шомко</li>
                                        <li>Ласло Кляйнхайслер</li>
                                        <li>Серикжан Мужиков</li>
                                    </ol>
                                </div>

                            </div>
                            <div class="cards__item">
                                <div class="cards__info">
                                    <div class="cards__data">05.05.2018 12:00</div>
                                    <div class="cards__commands">
                                        <div class="cards__name">“Тарлан”</div>
                                        <div class="cards__count">3 : 1</div>
                                        <div class="cards__name">“Жастар”</div>
                                    </div>
                                </div>
                                <div class="cards__gol">
                                    <div class="cards__data"></div>
                                    <ol class="cards__list right">
                                        <li> <i class="cards__ball"></i><i class="cards__ball"></i>Ненад Эрич</li>
                                        <li><i class="cards__ball"></i>Александр Мокин</li>
                                    </ol>
                                    <div class="cards__count"></div>
                                    <ol class="cards__list">
                                        <li>Ненад Эрич <i class="cards__ball"></i></li>
                                    </ol>
                                </div>
                                <div class="cards__peaple">
                                    <div class="cards__data"></div>
                                    <ol class="cards__list right">
                                        <li>Ненад Эрич</li>
                                        <li>Александр Мокин</li>
                                        <li>Станислав Павлов</li>
                                        <li>Игорь Шитов</li>
                                        <li>Марин Аничич</li>
                                        <li>Абзал Бейсебеков</li>
                                        <li>Сергей Малый</li>
                                        <li>Юрий Логвиненко</li>
                                        <li>Евгений Постников</li>
                                        <li>Дмитрий Шомко</li>
                                        <li>Ласло Кляйнхайслер</li>
                                        <li>Серикжан Мужиков</li>
                                    </ol>
                                    <div class="cards__count"></div>
                                    <ol class="cards__list">
                                        <li>Ненад Эрич</li>
                                        <li>Александр Мокин</li>
                                        <li>Станислав Павлов</li>
                                        <li>Игорь Шитов</li>
                                        <li>Марин Аничич</li>
                                        <li>Абзал Бейсебеков</li>
                                        <li>Сергей Малый</li>
                                        <li>Юрий Логвиненко</li>
                                        <li>Евгений Постников</li>
                                        <li>Дмитрий Шомко</li>
                                        <li>Ласло Кляйнхайслер</li>
                                        <li>Серикжан Мужиков</li>
                                    </ol>
                                </div>

                            </div>
                            <div class="cards__item">
                                <div class="cards__header">Результаты</div>
                                <div class="cards__shedule">
                                    <p>05.05.2018  10:00<br>
                                    <b>“Тарлан” - “Жастар”</b></p>

                                    <p>05.05.2018  10:00<br>
                                        <b>“Тарлан” - “Жастар”</b></p>

                                    <p>05.05.2018  10:00<br>
                                        <b>“Тарлан” - “Жастар”</b></p>

                                    <p>05.05.2018  10:00<br>
                                        <b>“Тарлан” - “Жастар”</b></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="ionTabs__item" data-name="Tab_4_tournaments">
                    <div class="cards">
                        <div class="cards__inner">
                            <div class="cards__item">
                                <div class="cards__header">Результаты</div>
                                <div class="cards__info">
                                    <div class="cards__data">05.05.2018 12:00</div>
                                    <div class="cards__commands">
                                        <div class="cards__name">“Тарлан”</div>
                                        <div class="cards__count">3 : 1</div>
                                        <div class="cards__name">“Жастар”</div>
                                    </div>
                                </div>
                                <div class="cards__gol">
                                    <div class="cards__data"></div>
                                    <ol class="cards__list right">
                                        <li> <i class="cards__ball"></i><i class="cards__ball"></i>Ненад Эрич</li>
                                        <li><i class="cards__ball"></i>Александр Мокин</li>
                                    </ol>
                                    <div class="cards__count"></div>
                                    <ol class="cards__list">
                                        <li>Ненад Эрич <i class="cards__ball"></i></li>
                                    </ol>
                                </div>
                                <div class="cards__peaple">
                                    <div class="cards__data"></div>
                                    <ol class="cards__list right">
                                        <li>Ненад Эрич</li>
                                        <li>Александр Мокин</li>
                                        <li>Станислав Павлов</li>
                                        <li>Игорь Шитов</li>
                                        <li>Марин Аничич</li>
                                        <li>Абзал Бейсебеков</li>
                                        <li>Сергей Малый</li>
                                        <li>Юрий Логвиненко</li>
                                        <li>Евгений Постников</li>
                                        <li>Дмитрий Шомко</li>
                                        <li>Ласло Кляйнхайслер</li>
                                        <li>Серикжан Мужиков</li>
                                    </ol>
                                    <div class="cards__count"></div>
                                    <ol class="cards__list">
                                        <li>Ненад Эрич</li>
                                        <li>Александр Мокин</li>
                                        <li>Станислав Павлов</li>
                                        <li>Игорь Шитов</li>
                                        <li>Марин Аничич</li>
                                        <li>Абзал Бейсебеков</li>
                                        <li>Сергей Малый</li>
                                        <li>Юрий Логвиненко</li>
                                        <li>Евгений Постников</li>
                                        <li>Дмитрий Шомко</li>
                                        <li>Ласло Кляйнхайслер</li>
                                        <li>Серикжан Мужиков</li>
                                    </ol>
                                </div>

                            </div>
                            <div class="cards__item">
                                <div class="cards__info">
                                    <div class="cards__data">05.05.2018 12:00</div>
                                    <div class="cards__commands">
                                        <div class="cards__name">“Тарлан”</div>
                                        <div class="cards__count">3 : 1</div>
                                        <div class="cards__name">“Жастар”</div>
                                    </div>
                                </div>
                                <div class="cards__gol">
                                    <div class="cards__data"></div>
                                    <ol class="cards__list right">
                                        <li> <i class="cards__ball"></i><i class="cards__ball"></i>Ненад Эрич</li>
                                        <li><i class="cards__ball"></i>Александр Мокин</li>
                                    </ol>
                                    <div class="cards__count"></div>
                                    <ol class="cards__list">
                                        <li>Ненад Эрич <i class="cards__ball"></i></li>
                                    </ol>
                                </div>
                                <div class="cards__peaple">
                                    <div class="cards__data"></div>
                                    <ol class="cards__list right">
                                        <li>Ненад Эрич</li>
                                        <li>Александр Мокин</li>
                                        <li>Станислав Павлов</li>
                                        <li>Игорь Шитов</li>
                                        <li>Марин Аничич</li>
                                        <li>Абзал Бейсебеков</li>
                                        <li>Сергей Малый</li>
                                        <li>Юрий Логвиненко</li>
                                        <li>Евгений Постников</li>
                                        <li>Дмитрий Шомко</li>
                                        <li>Ласло Кляйнхайслер</li>
                                        <li>Серикжан Мужиков</li>
                                    </ol>
                                    <div class="cards__count"></div>
                                    <ol class="cards__list">
                                        <li>Ненад Эрич</li>
                                        <li>Александр Мокин</li>
                                        <li>Станислав Павлов</li>
                                        <li>Игорь Шитов</li>
                                        <li>Марин Аничич</li>
                                        <li>Абзал Бейсебеков</li>
                                        <li>Сергей Малый</li>
                                        <li>Юрий Логвиненко</li>
                                        <li>Евгений Постников</li>
                                        <li>Дмитрий Шомко</li>
                                        <li>Ласло Кляйнхайслер</li>
                                        <li>Серикжан Мужиков</li>
                                    </ol>
                                </div>

                            </div>
                            <div class="cards__item">
                                <div class="cards__info">
                                    <div class="cards__data">05.05.2018 12:00</div>
                                    <div class="cards__commands">
                                        <div class="cards__name">“Тарлан”</div>
                                        <div class="cards__count">3 : 1</div>
                                        <div class="cards__name">“Жастар”</div>
                                    </div>
                                </div>
                                <div class="cards__gol">
                                    <div class="cards__data"></div>
                                    <ol class="cards__list right">
                                        <li> <i class="cards__ball"></i><i class="cards__ball"></i>Ненад Эрич</li>
                                        <li><i class="cards__ball"></i>Александр Мокин</li>
                                    </ol>
                                    <div class="cards__count"></div>
                                    <ol class="cards__list">
                                        <li>Ненад Эрич <i class="cards__ball"></i></li>
                                    </ol>
                                </div>
                                <div class="cards__peaple">
                                    <div class="cards__data"></div>
                                    <ol class="cards__list right">
                                        <li>Ненад Эрич</li>
                                        <li>Александр Мокин</li>
                                        <li>Станислав Павлов</li>
                                        <li>Игорь Шитов</li>
                                        <li>Марин Аничич</li>
                                        <li>Абзал Бейсебеков</li>
                                        <li>Сергей Малый</li>
                                        <li>Юрий Логвиненко</li>
                                        <li>Евгений Постников</li>
                                        <li>Дмитрий Шомко</li>
                                        <li>Ласло Кляйнхайслер</li>
                                        <li>Серикжан Мужиков</li>
                                    </ol>
                                    <div class="cards__count"></div>
                                    <ol class="cards__list">
                                        <li>Ненад Эрич</li>
                                        <li>Александр Мокин</li>
                                        <li>Станислав Павлов</li>
                                        <li>Игорь Шитов</li>
                                        <li>Марин Аничич</li>
                                        <li>Абзал Бейсебеков</li>
                                        <li>Сергей Малый</li>
                                        <li>Юрий Логвиненко</li>
                                        <li>Евгений Постников</li>
                                        <li>Дмитрий Шомко</li>
                                        <li>Ласло Кляйнхайслер</li>
                                        <li>Серикжан Мужиков</li>
                                    </ol>
                                </div>

                            </div>
                            <div class="cards__item">
                                <div class="cards__header">Результаты</div>
                                <div class="cards__shedule">
                                    <p>05.05.2018  10:00<br>
                                    <b>“Тарлан” - “Жастар”</b></p>

                                    <p>05.05.2018  10:00<br>
                                        <b>“Тарлан” - “Жастар”</b></p>

                                    <p>05.05.2018  10:00<br>
                                        <b>“Тарлан” - “Жастар”</b></p>

                                    <p>05.05.2018  10:00<br>
                                        <b>“Тарлан” - “Жастар”</b></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="ionTabs__item" data-name="Tab_5_tournaments">
                    5
                </div>

                <div class="ionTabs__preloader"></div>
            </div>
        </div>
    </div>
</div>