.clubs{
	position: relative;
	z-index: 10;
	margin-bottom: 245px;
	padding: 0 20px;
	&__inner{
		width: 100%;
		max-width: 1400px;
		margin: 0 auto;
		background-color: #fff;
		border:  1px solid #b1b1b1;
		position: relative;
	}
	&__header{
		padding: 26px 70px;
		border-bottom: 1px solid #b1b1b1;
		position: relative;
		overflow: hidden;
		&:before{
			content: '';
			position: absolute;
			top: 0;
			right: 240px;
			background-color: #bcbcbc;
			width: 15px;
			height: 100%;
			transform: skewx(-45deg);
		}
		&:after{
			content: '';
			position: absolute;
			top: 0;
			right: -40px;
			background-color: #bcbcbc;
			width: 260px;
			height: 100%;
			transform: skewx(-45deg);
		}
		h3{
			color: #373737;
			font-size: 28px;
			font-weight: bold;
			text-decoration: none;
			text-transform: uppercase;
			margin: 0;
		}
	}
	&__content{
		padding: 55px;
		position: relative;
		&:before{
			content: '';
			position: absolute;
			top: 40px;
			left: -240px;
			background-image: url("../img/clubs__before.png");
			background-repeat: no-repeat;
			background-size: 100%;
			width: 675px;
			height: 369px;
		}
		&:after{
			content: '';
			position: absolute;
			top: -130px;
			right: -260px;
			background-image: url("../img/clubs__after.png");
			background-repeat: no-repeat;
			background-size: 100%;
			width: 1136px;
			height: 980px;
			z-index: -1;
		}
	}
	&__title{
		position: relative;
		padding-left: 66px;
		color: #404040;
		font-size: 26px;
		margin-bottom: 60px;
		margin-left: 380px;
		&:before{
			content: '';
			position: absolute;
			top: 50%;
			left: 0;
			transform: translate(0, -50%);
			background-image: url("../img/subscription__title.png");
			background-repeat: no-repeat;
			background-size: 100%;
			width: 44px;
			height: 37px;
		}
	}
	&__group{
		position: relative;
		display: flex;
		justify-content: space-around;
		align-items: center;
		padding-top: 60px;
		&:before{
			content: '';
			position: absolute;
			top: 0;
			left: -55px;
			background-image: url("../img/clubs__bg.png");
			width: calc(100% + 110px);
			height: 466px;
		}
		&:after{
			content: '';
			position: absolute;
			bottom: -148px;
			left: 0;
			background-image: url("../img/clubs__bg-2.png");
			width: 365px;
			height: 35px;
			z-index: -1;
		}
	}
	&__item{
		position: relative;
		text-align: center;
	}
	&__img{
		display: flex;
		align-items: center;
		height: 236px;
		margin-bottom: 30px;
		img{
			display: block;
		}
	}
	&__name{
		color: #fff;
		font-size: 22px;
		font-weight: bold;
		text-transform: uppercase;
	}
}