.filial{
	position: relative;
	z-index: 10;
	margin-bottom: 45px;
	padding: 0 20px;
	.ionTabs {
		&__tabs{
			display: flex;
			justify-content: space-between;
			width: 100%;
			&_state_active {
				background: #e0e0e0;
				font-weight: bold;
			}
		}
		&__head {
			display: flex;
			justify-content: space-between;
			align-items: center;
			border-bottom: 1px solid #b1b1b1;
			position: relative;
			overflow: hidden;
			&:before,
			&:after {
				content: "";
				display: none;
			}
		}
		&__tab {
			width: 100%;
			max-width: 100%;
			padding: 25px;
			color: #333333;
			font-size: 26px;
			margin-bottom: 20px;
			border: none;
			float: none;
			text-align: center;
			&:last-of-type{
				border-right: none;
			}
			&_state_active {
				background: transparent;
				font-weight: bold;
			}
		}
		&__body {
			background-color: #fff;
			width: 100%;
			border: 1px solid #b1b1b1;
			padding: 0;
			.ionTabs__body{
				border: none;
			}
		}
	}
	&__inner{
		width: 100%;
		max-width: 1400px;
		margin: 0 auto;
	}
	&__header{
		padding: 26px 70px;
		border-bottom: 1px solid #b1b1b1;
		position: relative;
		overflow: hidden;
		&:before{
			content: '';
			position: absolute;
			top: 0;
			right: 240px;
			background-color: #ffeb07;
			width: 15px;
			height: 100%;
			transform: skewx(-45deg);
		}
		&:after{
			content: '';
			position: absolute;
			top: 0;
			right: -40px;
			background-color: #ffeb07;
			width: 260px;
			height: 100%;
			transform: skewx(-45deg);
		}
		h3{
			color: #373737;
			font-size: 28px;
			font-weight: bold;
			text-decoration: none;
			text-transform: uppercase;
			margin: 0;
		}
	}
	&__left{
		width: 350px;
		flex-shrink: 0;
		margin-right: 30px;
	}
	&__aside {
		width: 350px;
		margin: 0 20px 0 0;
		padding: 0;
		list-style: none;
		text-transform: uppercase;
		background-color: #f7f7f7;
		border: 1px solid #b1b1b1;
	}
	&__arrow{
		background-color: #fff;
		color: #333333;
		font-size: 28px;
		font-weight: bold;
		padding: 30px;
		border-bottom: 1px solid #b1b1b1;
	}
	&__banner{
		margin-top: 25px;
		max-width: 350px;

		img{
			max-width: 100%;
		}
	}
	&__head{
		display: flex;
		justify-content: space-between;
		align-items: center;
		border-bottom: 1px solid #b1b1b1;
		position: relative;
		overflow: hidden;
		&:before,
		&:after {
			content: "";
			display: none;
		}
	}
	&__tab{
		margin: 0!important;
		width: 100%;
		max-width: 281px;
		padding: 25px;
		color: #333333;
		font-size: 20px;
		text-align: center;
		text-transform: uppercase;
		transform: skewx(-45deg);
		border-right: 1px solid #b1b1b1!important;
		&:hover {
			background: #e5e5e5;
		}
		&:last-of-type{
			border-right: none!important;
		}
		&_state_active {
			background: #e0e0e0;
			font-weight: bold;
		}
		span{
			display: block;
			transform: skewx(45deg);
		}
	}
	&__body{
		width: 100% !important;
		padding: 60px;
	}
	&__item{
		padding: 60px;
	}
	&__slider{

	}
	@include r(1024){
		.ionTabs {
			&__head {
				display: flex;
				justify-content: space-between;
				align-items: center;
				border-bottom: 1px solid #b1b1b1;
				position: relative;
				overflow: hidden;
				&:before,
				&:after {
					content: "";
					display: none;
				}
			}
			&__tab {
				padding: 20px;

				font-size: 20px;
				margin-bottom: 0;
				&:last-of-type{
					border-right: none;
				}
				&_state_active {
					background: transparent;
					font-weight: bold;
				}
			}
			&__body {
				background-color: #fff;
				width: 100%;
				border: 1px solid #b1b1b1;
				padding: 0;
				.ionTabs__body{
					border: none;
				}
			}
		}
		&__left{
			width: 280px;
			flex-shrink: 0;
		}
		&__aside {
			width: 100%;
		}
		&__arrow{
			font-size: 22px;
			padding: 20px;
		}
		&__banner{
		}
	}
}