.footer{
	position: relative;
	background-color: #0c1624;
	padding:30px 20px 52px;
	&__inner{
		position: relative;
		width: 100%;
		max-width: 1400px;
		margin: 0 auto;
		display: flex;
		align-items: center;
		justify-content: space-between;
		z-index: 10;
	}
	&__item{
		display: flex;
		align-items: center;
	}
	&__logo{
		width: 367px;
		margin-right: 60px;
		img{
			max-width: 100%;
		}
	}
	&__city{

	}
	&__tel{
		color: #fff;
		font-size: 28px;
		font-weight: bold;
		text-decoration: none;
		margin-right: 48px;
		.quotes{
			display: inline-block;
			background-image: url("../img/quotes-white.png");
			background-repeat: no-repeat;
			background-size: 100%;
			width: 12px;
			height: 12px;
			margin-right: 12px;
			vertical-align: middle;
		}
	}
	&__txt{
		color: #ffeb07;
		font-size: 19px;
		font-weight: bold;
		text-transform: uppercase;
		.quotes{
			display: inline-block;
			background-image: url("../img/quotes.png");
			background-repeat: no-repeat;
			background-size: 100%;
			width: 12px;
			height: 12px;
			margin-right: 12px;
			vertical-align: middle;
			margin-top: -6px;
		}
	}
	&__btn{
		background-color: #ffeb07;
		height: 46px;
		padding:0 60px;
		text-align: center;
		color: #000;
		font-size: 20px;
		font-weight: bold;
		border: none;
		outline:none;
		cursor: pointer;
	}
	&__bottom{
		display: flex;
		align-items: center;
		justify-content: space-between;
		width: 100%;
		max-width: 1400px;
		padding: 35px 0;
		margin: 150px auto 0;
		border-top: 1px solid #444b54;
		border-bottom: 1px solid #444b54;
	}
	&__nav{
		max-width: 780px;
		width: 100%;
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin-right: 30px;
		a{
			color: #fff;
			font-size: 15px;
			line-height: 1;
			text-decoration: none;
			text-transform: uppercase;
		}
	}
	&__after{
		position: absolute;
		bottom: 0;
		right: 0;
		background-image: url("../img/footer__after.png");
		background-repeat: no-repeat;
		background-size: 100%;
		width: 433px;
		height: 565px;
		z-index: 0;
	}
	.jq-selectbox {
		vertical-align: middle;
		cursor: pointer;
		position: relative;
		&:after{
			content: '';
			position: absolute;
			top: 50%;
			right: -47px;
			transform: translate(0, -50%);
			background-image: url("../img/location.png");
			background-repeat: no-repeat;
			width: 27px;
			height: 37px;
		}
		&__select {
			display: flex;
			align-items: center;
			width: 140px;
			height: 32px;
			padding: 0 34px 0 10px;
			border: 1px solid #fff;
			border-radius: 4px;
			color: #fff;
			font-size: 16px;
		}
		&__select-text {
			display: block;
			width: 100%;
		}
		&__trigger {
			position: absolute;
			top: 0;
			right: 0;
			width: 34px;
			height: 100%;
		}
		&__trigger-arrow {
			position: absolute;
			top: 14px;
			right: 12px;
			width: 0;
			height: 0;
			border-top: 5px solid #fff;
			border-right: 5px solid transparent;
			border-left: 5px solid transparent;
		}
		.placeholder {
			color: #fff;
		}
	}
	@include r(1400){
		&__logo{
			width: 267px;
		}
		&__txt{
			color: #ffeb07;
			font-size: 14px;
			font-weight: bold;
			text-transform: uppercase;
			.quotes{

				width: 9px;
				height: 9px;
				margin-top: -5px;
			}
			p{
				margin: 7px 0;
			}
		}
		&__tel{
			font-size: 22px;
			.quotes{
				width: 9px;
				height: 9px;
				margin-top: -5px;
			}
		}
	}
	@include r(1024){
		&__logo{
			width: 267px;
			margin-right: 30px;
		}
		&__txt{
			font-size: 12px;
			.quotes{
				width: 6px;
				height: 6px;
				margin-top: -5px;
			}
			p{
				margin: 7px 0;
			}
		}
		&__tel{
			font-size: 18px;
			.quotes{
				width: 9px;
				height: 9px;
				margin-top: -5px;
			}
		}
		&__btn{
			padding:0 30px;
			font-size: 16px;
			font-weight: bold;
		}
	}
}