.header{
	background-image: url("../img/header__bg.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	padding: 280px 20px 110px;
	margin-top: -170px;
	margin-bottom: 75px;
	position: relative;
	&:after{
		content: '';
		position: absolute;
		right: 0;
		bottom: -200px;
		background-image: url("../img/header-after__bg.png");
		background-repeat: no-repeat;
		background-size: 100%;
		width: 723px;
		height: 846px;
		z-index: 1;
	}
	&__inner{
		width: 100%;
		max-width: 1400px;
		margin: 0 auto;
	}
	h1{
		color: #fff;
		font-size: 50px;
		line-height: 1;
		font-weight: bold;
		text-transform: uppercase;
	}
	h2{
		color: #fff;
		font-size: 39px;
		line-height: 1;
		font-weight: 300;
		text-transform: uppercase;
	}
	@include r(1024){
		padding: 200px 20px 50px;
		h1{
			font-size: 28px;
		}
		h2{
			font-size: 30px;
		}
	}

}