.header-map{
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	padding: 20px 110px 20px 20px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	z-index: 10;
	h1{
		color: #fff;
		font-size: 52px;
		line-height: 1;
		font-weight: bold;
		text-transform: uppercase;
		margin: 0;
	}
	&__right{
		display: flex;
		justify-content: center;
		align-items: center;
	}
	@include r(1024){
		h1{
			font-size: 52px;
		}
	}
}