.map{
	width: 100vw;
	height: calc(100vh - 181px);
	background-image: url("../img/map__bg.jpg");
	background-size: cover;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	&__inner{
		position: relative;
		width: 1528px;
		min-width: 1528px;
		img{
			width: 100%;
			height: 100%;
			object-fit: cover;
			display: block;
		}
	}
	&__bg{
		opacity: .6;
	}
	&__item{
		position: absolute;
		top: 0;
		color: #fff;
		font-size: 34px;
		font-weight: 500;
		letter-spacing: 1px;
		text-transform: uppercase;
		text-decoration: none;
		display: block;
		background-size: 100%;
		background-repeat: no-repeat;
		img{
			max-width: 100%	;
		}
		&.kost{
			top: 52px;
			left: 319px;
			width: 363px;
			height: 413px;
			z-index: 9;
			&:hover{
				background-image: url("../img/map__kost.png");
				color: transparent;
			}
			span{
				position: relative;
				top: 124px;
				left: 21px;
			}

		}
		&.astana{
			top: 120px;
			left: 560px;
			width: 385px;
			height: 235px;
			z-index: 8;
			&:hover{
				background-image: url("../img/map__astana.png");
				color: transparent;
			}
			span{
				position: relative;
				top: 98px;
				left: 152px;
			}

		}
		&.karaganda{
			top: 279px;
			left: 446px;
			width: 657px;
			height: 317px;
			z-index: 7;
			&:hover{
				background-image: url("../img/map__karaganda.png");
				color: transparent;
			}
			span{
				position: relative;
				top: 126px;
				left: 240px;
			}

		}
		&.taraz{
			top: 597px;
			left: 733px;
			width: 290px;
			height: 197px;
			&:hover{
				background-image: url("../img/map__taraz.png");
				color: transparent;
			}
			span{
				position: relative;
				top: 66px;
				left: 83px;
			}

		}
		&.shimkent{
			top: 597px;
			left: 554px;
			width: 255px;
			height: 289px;
			&:hover{
				background-image: url("../img/map__shimkent.png");
				color: transparent;
			}
			span{
				position: relative;
				top: 177px;
				left: 0;
			}

		}
		&.almaty{
			top: 521px;
			right: 208px;
			width: 386px;
			height: 282px;
			span{
				position: relative;
				top: 165px;
				left: 109px;
			}
			&:hover{
				background-image: url("../img/map__almaty.png");
				color: transparent;
			}
		}
	}
	@include r(1366){
		&__inner{
			width: 1200px;
			min-width: 1200px;
			height: 100%;
			img{
				width: auto;
			}
		}
		&__item{
			font-size: 21px;
			background-size: 100%;
			img{
				max-width: 100%	;
			}
			&.kost{
				top: 42px;
				left: 216px;
				width: 233px;
				height: 266px;
				&:hover{
					background-image: url("../img/map__kost.png");
				}
				span{
					top: 80px;
					left: 13px;
				}

			}
			&.astana{
				top: 81px;
				left: 372px;
				width: 253px;
				height: 189px;
				&:hover{
					background-image: url("../img/map__astana.png");
					color: transparent;
				}
				span{
					top: 65px;
					left: 101px;
				}

			}
			&.karaganda{
				top: 185px;
				left: 296px;
				width: 428px;
				height: 213px;
				&:hover{
					background-image: url("../img/map__karaganda.png");
					color: transparent;
				}
				span{
					top: 83px;
					left: 156px;
				}

			}
			&.taraz{
				top: 396px;
				left: 485px;
				width: 186px;
				height: 125px;

				&:hover{
					background-image: url("../img/map__taraz.png");
					color: transparent;
				}
				span{
					top: 42px;
					left: 54px;
				}

			}
			&.shimkent{
				top: 396px;
				left: 369px;
				width: 165px;
				height: 185px;
				&:hover{
					background-image: url("../img/map__shimkent.png");
					color: transparent;
				}
				span{
					top: 115px;
					left: 0;
				}

			}
			&.almaty{
				top: 344px;
				right: 332px;
				width: 249px;
				height: 173px;

				&:hover{
					background-image: url("../img/map__almaty.png");
					color: transparent;
				}
				span{
					top: 108px;
					left: 70px;
				}

			}
		}
	}
}